{% extends 'WebUserBundle::Layout.html.twig' %}

{% block content %}
    <div class="col-sm-8 blog-main">
        <h2>Kutong</h2>

        <div class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a data-toggle="tab" role="tab" href="#video">Video</a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#slide">Slide</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="video" class="tab-pane fade in active">
                    <video id="main-video" autoplay></video>
                    <a href="#" id="fullscreen"><span>Fullscreen</span></a>
                </div>
                <div id="slide" class="tab-pane fade">

                </div>
            </div>
        </div>
        <h4>Streams</h4>

        <div class="cameras">
            <ul>
            </ul>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <h4>Wiadomości</h4>
        <div class="chat">

        </div>
        <input type="text" id="message"><button id="send-message">Send</button>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <h4>Pliki do pobrania</h4>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var settings = {
            room: "{{ room.token }}",
            user: "{{ app.user.id }}",
            url: "{{ app.request.host }}",
            port: "8080"
        };
    </script>
    <script type="text/javascript" src="{{ asset('js/video.js') }}"></script>
    <script type="text/javascript" src='{{ asset('js/rtc/adapter.js') }}'></script>
    <script type="text/javascript" src='{{ asset('js/rtc/socket.js') }}'></script>
    <script type="text/javascript" src='{{ asset('js/rtc/preview.js') }}'></script>
    <script type="text/javascript" src='{{ asset('js/rtc/peer.js') }}'></script>
    <script type="text/javascript" src='{{ asset('js/rtc/rtc.js') }}'></script>
    <script type="text/javascript" src='{{ asset('js/rtc/chat.js') }}'></script>
{% endblock %}
